<!DOCTYPE html>
<title>A Thing</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="manifest" href="<%= emitEjs('src/manifest.json.ejs') %>" />
<style>
  html,
  body {
    background: #ddd;
  }
</style>
<div id="progress">
<label></label>
<progress max="100"></progress>
</div>
<canvas></canvas>
<script src="<%= emitChunk('src/main.js') %>"></script>
